<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><% if (typeof title !== 'undefined') { %><%= title %><% } else { %><%= 'Images Gallery' %><% } %></title>
<script type="text/javascript" src="/js/script.js"></script>
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />